In [48]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [49]:
a=[]
##df3 = pd.DataFrame({'A' : [np.nan]})
def Outliers(a):
    for j in a:
        Q3=df[j].quantile(0.75)
        Q1=df[j].quantile(0.25)
        IQR = df[j].quantile(0.75) - df[j].quantile(0.25)
        H=1.5*IQR
        Upper_Whiskar = Q3+H
        Lower_Whiskar = Q1-H
        Q95 = df[j].quantile(0.95)
        Q05 = df[j].quantile(0.05)
    
        print('Q3 for ',j, ': ', Q3)
        print('Q1 for ',j,': ', Q1)
        print('IQR for ',j,': ', IQR)
        print('H for ',j,': ', H)
        print('Upper Whiskar for ',j,': ', Upper_Whiskar)
        print('Lower Whiskar for ',j,': ', Lower_Whiskar)
    
        print('95th Quantile for ',j,': ', Q95)
        print('5th Quantile for',j,': ', Q05)
        ##df3[j] = df[j].clip(lower=Lower_Whiskar,upper = Upper_Whiskar, inplace=False)
        ##df[j].clip(lower=Lower_Whiskar,upper = Upper_Whiskar, inplace=True)
        for i in df[j].index.tolist():
            if(df.at[i,j]<Lower_Whiskar):
                df.at[i,j]= Q05
            if(df.at[i,j]>Upper_Whiskar):
                df.at[i,j]=Q95

In [67]:
data = {'Age':[-500, -600, 25,22,26,24,17,3,2,1,35,95,98], 'Salary':[12000, 25000, 17000, 18000, 19000, 20000, 4500, 5400, 8000,90000, 80000, 5000, 3000]}

df = pd.DataFrame(data)
df

    Age  Salary
0  -500   12000
1  -600   25000
2    25   17000
3    22   18000
4    26   19000
5    24   20000
6    17    4500
7     3    5400
8     2    8000
9     1   90000
10   35   80000
11   95    5000
12   98    3000

In [68]:
Outliers(['Age', 'Salary'])

Q3 for  Age :  26.0
Q1 for  Age :  2.0
IQR for  Age :  24.0
H for  Age :  36.0
Upper Whiskar for  Age :  62.0
Lower Whiskar for  Age :  -34.0
95th Quantile for  Age :  96.19999999999999
5th Quantile for Age :  -540.0
Q3 for  Salary :  20000.0
Q1 for  Salary :  5400.0
IQR for  Salary :  14600.0
H for  Salary :  21900.0
Upper Whiskar for  Salary :  41900.0
Lower Whiskar for  Salary :  -16500.0
95th Quantile for  Salary :  83999.99999999999
5th Quantile for Salary :  3900.0

In [69]:
print(df)

    Age  Salary
0  -540   12000
1  -540   25000
2    25   17000
3    22   18000
4    26   19000
5    24   20000
6    17    4500
7     3    5400
8     2    8000
9     1   83999
10   35   83999
11   96    5000
12   96    3000